[Unit]
Description=Cleans downloads

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/python3 /home/prash/.pyscripts/files.py >> /home/prash/.pyscripts/fileslog/downloadslog'
