[Unit]
Description=Powertop tunings

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/powerscript.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
